.container {
  padding-bottom: 15px;
  box-shadow: 3px 3px 6px #d1d1d1,-3px -3px 6px #d1d1d1;
  border-radius: 20px;
  margin: 100px 0 50px 0;
}
.container div .img {
  transform: translateY(-80px);
  display: flex;
  justify-content: center;
}
 @media screen and (max-width: 800px) {
                .container div .img{
                    transform: translateY(-50px);
               }}
.container div .img img {
  z-index: 2;
  width: 150px;
  height: 150px;
  border-radius: 200px;
}
  @media screen and (max-width: 800px) {
                    .container div .img img{
                       width: 100px;
                       height:  100px;
                   }}
.container div .img img:hover {
  cursor: pointer;
}
.container div h5 {
   padding: 10px;
   border-bottom: 2px dashed #dc3545;
  font-family: "sahel", "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: 600;
   
  text-align: center;
}
  @media screen and (max-width: 800px) {
               .container div h5 {
                    text-align: right; 
                    font-size: 17px;
                    font-weight: 600;
               }}
              
               @media screen and (max-width: 367px) {
               .container div h5 {
                    text-align: right; 
                    font-size: 15px;
                    font-weight: 600;
               }}
               @media screen and (max-width: 333px) {
               .container div h5 {
                    text-align: right; 
                    font-size: 10px;
                    font-weight: 600;
               }}
               @media screen and (max-width: 324px) {
               .container div h5 {
                    text-align: right; 
                    font-size: 13px;
                    font-weight: 600;
               }}
.container div p {
  text-align: center;
  font-family: "sahel", "Times New Roman", Times, serif;
  display: block;
}
@media screen and (max-width: 800px) {
                .container div p{
                    text-align: right; 
                    font-size: 10px;
               }}
.container div.prog {
   margin-bottom: 50px;
  direction: rtl;
}
.container div.prog .progress {
  width: auto;
}
.container div.prog p {
  display: inline;
}

.english-resume {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.english-resume .btn:hover {
  background-color: #dc3545;
}

.english {
  padding-bottom: 15px;
  box-shadow: 3px 3px 6px #d1d1d1,-3px -3px 6px #d1d1d1;
  border-radius: 20px;
  margin: 100px 0 50px 0;
}
.english div .img {
  transform: translateY(-80px);
  display: flex;
  justify-content: center;
}
 @media screen and (max-width: 800px) {
              .english div .img{
                    transform: translateY(-50px);
               }}
.english div .img img {
  z-index: 2;
  width: 150px;
  height: 150px;
  border-radius: 200px;
}
 @media screen and (max-width: 800px) {
                    .english div .img img {
                        width: 100px;
                        height:  100px;
                    }}
.english div .img img:hover {
  cursor: pointer;
}
.english div h5 {
   padding: 10px;
   border-bottom: 2px dashed #dc3545;
  font-family: "nunito", "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
 @media screen and (max-width: 800px) {
                .english div h5{
                    text-align: left; 
                    font-size: 17px;
                    font-weight: 600;
               }}
              
               @media screen and (max-width: 367px) {
                .english div h5{
                    text-align: left; 
                    font-size: 15px;
                    font-weight: 600;
               }}
               @media screen and (max-width: 333px) {
                .english div h5{
                    text-align: left; 
                    font-size: 10px;
                    font-weight: 600;
               }}
               @media screen and (max-width: 324px) {
               .english div h5{
                    text-align: left; 
                    font-size: 13px;
                    font-weight: 600;
               }}
.english div p {
  text-align: center;
  font-family: "nunito", "Times New Roman", Times, serif;
  display: block;
}
 @media screen and (max-width: 800px) {
                .english div p{
                    text-align: left; 
                    font-size: 10px;
               }}
.english div.prog {
   margin-bottom: 50px;
  direction: ltr;
  text-align: left;
}
.english div.prog .progress {
  width: auto;
}
.english div.prog p {
  display: inline;
}

div.btn{
    display: flex;
    justify-content: center;
  margin-bottom: 50px;}
  @media screen and (max-width: 528px) {
       div.btn{
           justify-content: center;
        
       }
 .resume{
             margin-bottom: 20px;
         }   
}

i {
  margin: 10px;
  font-size: 10px;
}

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: sahel;
  src: url("../font/Sahel.ttf") format("ttf");
  src: url("../font/Sahel.woff") format("woff");
  src: url("../font/Sahel-Black.eot") format("eot");
}
@font-face {
  font-family: nunito;
  src: url("../font/Nunito-Black.ttf") format("ttf");
}/*# sourceMappingURL=git.css.map */
