 .container {
     padding-bottom: 15px;
      box-shadow: 3px 3px 6px #d1d1d1,-3px -3px 6px #d1d1d1;
     border-radius: 20px;
     margin: 100px 0 50px 0;

     div {

         .img {
             transform: translateY(-80px);
             display: flex;
             justify-content: center;
           @media screen and (max-width: 800px) {
                &{
                    transform: translateY(-50px);
               }}


             img {

                 z-index: 2;
                 width: 150px;
                 height: 150px;
                 border-radius: 200px;
               @media screen and (max-width: 800px) {
                    &{
                       width: 100px;
                       height:  100px;
                   }}

                 &:hover {
                     cursor: pointer;
                 }
             }
         }

         h5 {
             padding: 10px;
             font-family: 'sahel', 'Times New Roman', Times, serif;
             font-size: 30px;
             font-weight: 600;
             border-bottom: 2px dashed #dc3545;
             text-align: center;
           @media screen and (max-width: 800px) {
                &{
                    text-align: right; 
                    font-size: 17px;
                    font-weight: 600;
               }}
              
               @media screen and (max-width: 367px) {
                &{
                    text-align: right; 
                    font-size: 15px;
                    font-weight: 600;
               }}
               @media screen and (max-width: 333px) {
                &{
                    text-align: right; 
                    font-size: 10px;
                    font-weight: 600;
               }}
               @media screen and (max-width: 324px) {
                &{
                    text-align: right; 
                    font-size: 13px;
                    font-weight: 600;
               }}

         }

         p {
             text-align: center;
             font-family: 'sahel', 'Times New Roman', Times, serif;
             display: block;
           @media screen and (max-width: 800px) {
                &{
                    text-align: right; 
                    font-size: 10px;
               }}
         }




     }

     div.prog {
         margin-bottom: 50px;
         direction: rtl;


         .progress {
             width: auto;

         }

         p {
             display: inline;
         }
     }

 }

 .english-resume {
     display: flex;
     justify-content: center;
     margin-bottom: 100px;

     .btn {
         &:hover {
             background-color: #dc3545;
         }
     }
 }


 .english {
    padding-bottom: 15px;
     box-shadow: 3px 3px 6px #d1d1d1,-3px -3px 6px #d1d1d1;
    border-radius: 20px;
    margin: 100px 0 50px 0;

    div {

        .img {
            transform: translateY(-80px);
            display: flex;
            justify-content: center;
          @media screen and (max-width: 800px) {
                &{
                    transform: translateY(-50px);
               }}


            img {

                z-index: 2;
                width: 150px;
                height: 150px;
                border-radius: 200px;
              @media screen and (max-width: 800px) {
                     &{
                        width: 100px;
                        height:  100px;
                    }}

                &:hover {
                    cursor: pointer;
                }
            }
        }

        h5 {
            padding: 10px;
            font-family: 'nunito', 'Times New Roman', Times, serif;
            font-size: 30px;
            font-weight: 600;
            border-bottom: 2px dashed #dc3545;
            text-align: center;
          @media screen and (max-width: 800px) {
                &{
                    text-align: left; 
                    font-size: 17px;
                    font-weight: 600;
               }}
              
               @media screen and (max-width: 367px) {
                &{
                    text-align: left; 
                    font-size: 15px;
                    font-weight: 600;
               }}
               @media screen and (max-width: 333px) {
                &{
                    text-align: left; 
                    font-size: 10px;
                    font-weight: 600;
               }}
               @media screen and (max-width: 324px) {
                &{
                    text-align: left; 
                    font-size: 13px;
                    font-weight: 600;
               }}

        }

        p {
            text-align: center;
            font-family: 'nunito', 'Times New Roman', Times, serif;
            display: block;
          @media screen and (max-width: 800px) {
                &{
                    text-align: left; 
                    font-size: 10px;
               }}
           
        }




    }

    div.prog {
        margin-bottom: 50px;
        direction: ltr;
        text-align: left;

        .progress {
            width: auto;

        }

        p {
            display: inline;
        }
    }

}

.english-resume {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

    .btn {
        &:hover {
            background-color: #dc3545;
        }
    }
}
i{
    margin: 10px;
    font-size: 10px;
}
 
 
