.abuoteme{ 
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(118, 202, 8);
    padding: 10px 10px 10px 10px;
    margin: 10px;
    .story{
      
        @media screen and (min-width: 1000px) {
            & {
              position: relative;
              left: 70px; 
            }
        }
       

    
    h5 {
       padding: 10px;
       font-family: 'sahel', 'Times New Roman', Times, serif;
       font-size: 30px;
       font-weight: 600;
       border-bottom: 2px solid #dc3545;
       text-align: right;
       @media screen and (max-width: 800px) {
           & {
               text-align: right;
               font-size: 17px;
               font-weight: 600;
           }
       }

       @media screen and (max-width: 367px) {
           & {
               text-align: right;
               font-size: 15px;
               font-weight: 600;
           }
       }

       @media screen and (max-width: 333px) {
           & {
               text-align: right;
               font-size: 10px;
               font-weight: 600;
           }
       }

       @media screen and (max-width: 324px) {
           & {
               text-align: right;
               font-size: 13px;
               font-weight: 600;
           }
       }
   }
}
   .img {
object-fit: scale-down;

    img {
      margin-top: 5px;
        z-index: 2;
         
        width: 200px;
        height: 200px;
        border-color: #dc3545;
        border-radius:15px;
         


        @media screen and (max-width: 800px) {
            & {
                width: 180px;
                height: 180px;
            }
        }
        @media screen and (max-width: 300px) {
            & {
                width: 160px;
                height: 160px;
            }
        }
       
      
        &:hover {
            cursor: pointer;
        }
    }

   }
    
}

.container {
     padding-bottom: 15px;
      box-shadow: 3px 3px 6px #d1d1d1,-3px -3px 6px #d1d1d1;
     border-radius: 20px;
     margin: 100px 0 50px 0;

     
         h5 {
             padding: 10px;
             font-family: 'sahel', 'Times New Roman', Times, serif;
             font-size: 30px;
             font-weight: 600;
             border-bottom: 2px dashed #dc3545;
             text-align: center;
           @media screen and (max-width: 800px) {
                &{
                    text-align: right; 
                    font-size: 17px;
                    font-weight: 600;
               }}
              
               @media screen and (max-width: 367px) {
                &{
                    text-align: right; 
                    font-size: 15px;
                    font-weight: 600;
               }}
               @media screen and (max-width: 333px) {
                &{
                    text-align: right; 
                    font-size: 10px;
                    font-weight: 600;
               }}
               @media screen and (max-width: 324px) {
                &{
                    text-align: right; 
                    font-size: 13px;
                    font-weight: 600;
               }}

         }

         p {
             text-align: center;
             font-family: 'sahel', 'Times New Roman', Times, serif;
             display: block;
           @media screen and (max-width: 800px) {
                &{
                    text-align: right; 
                    font-size: 10px;
               }}
         }




     }
  
  .Evidence {
             display: flex;
             flex-wrap: wrap;
             flex-direction: row;
             justify-content: space-around;
             align-items: center;



             .img-Evidence {
                 .frame_img-Evidence {
                     display: flex;
                     flex-direction: row-reverse;
                     align-items: center;
                     margin-top: 10px;


                     img {
                         margin-left: 15px;
                         width: 80px;
                         height: 80px;

                         @media screen and (max-width: 700px) {
                             & {
                                 width: 60px;
                                 height: 60px;
                             }
                         }

                         @media screen and (max-width: 250px) {
                             & {
                                 width: 40px;
                                 height: 40px;
                             }
                         }

                     }

                     .name-Evidence {
                         h6 {
                             font-weight: bolder;

                             @media screen and (max-width: 700px) {
                                 & {

                                     font-size: 10px;
                                 }
                             }

                         }

                         P {
                             align-self: center;
                             font-size: small;
                             color: darkgrey;

                             @media screen and (max-width: 700px) {
                                 & {

                                     font-size: smaller;
                                 }
                             }

                              

                         }
                     }

                 }

             }

     div.prog {
         margin-bottom: 50px;
         direction: rtl;


         .progress {
             width: auto;

         }

         p {
             display: inline;
         }
     }

 }

 .english-resume {
     display: flex;
     justify-content: center;
     margin-bottom: 100px;

     .btn {
         &:hover {
             background-color: #dc3545;
         }
     }
 }


 .english {
    padding-bottom: 15px;
     box-shadow: 3px 3px 6px #d1d1d1,-3px -3px 6px #d1d1d1;
    border-radius: 20px;
    margin: 100px 0 50px 0;

    

        h5 {
            padding: 10px;
            font-family: 'nunito', 'Times New Roman', Times, serif;
            font-size: 30px;
            font-weight: 600;
            border-bottom: 2px dashed #dc3545;
            text-align: center;
          @media screen and (max-width: 800px) {
                &{
                    text-align: left; 
                    font-size: 17px;
                    font-weight: 600;
               }}
              
               @media screen and (max-width: 367px) {
                &{
                    text-align: left; 
                    font-size: 15px;
                    font-weight: 600;
               }}
               @media screen and (max-width: 333px) {
                &{
                    text-align: left; 
                    font-size: 10px;
                    font-weight: 600;
               }}
               @media screen and (max-width: 324px) {
                &{
                    text-align: left; 
                    font-size: 13px;
                    font-weight: 600;
               }}

        }

        p {
            text-align: center;
            font-family: 'nunito', 'Times New Roman', Times, serif;
            display: block;
          @media screen and (max-width: 800px) {
                &{
                    text-align: left; 
                    font-size: 10px;
               }}
           
        }




    }
  
  
  .Evidence {
             display: flex;
             flex-wrap: wrap;
             flex-direction: row-reverse;
             justify-content: space-around;
             align-items: center;



             .img-Evidence {
                 .frame_img-Evidence {
                     display: flex;
                     flex-direction: row-reverse;
                     align-items: center;
                     margin-top: 10px;


                     img {
                         margin-left: 15px;
                         width: 80px;
                         height: 80px;

                         @media screen and (max-width: 700px) {
                             & {
                                 width: 60px;
                                 height: 60px;
                             }
                         }

                         @media screen and (max-width: 250px) {
                             & {
                                 width: 40px;
                                 height: 40px;
                             }
                         }

                     }

                     .name-Evidence {
                         h6 {
                             font-weight: bolder;

                             @media screen and (max-width: 700px) {
                                 & {

                                     font-size: 10px;
                                 }
                             }

                         }

                         P {
                             align-self: center;
                             font-size: small;
                             color: darkgrey;

                             @media screen and (max-width: 700px) {
                                 & {

                                     font-size: smaller;
                                 }
                             }

                              

                         }
                     }

                 }

             }

    div.prog {
        margin-bottom: 50px;
        direction: ltr;
        text-align: left;

        .progress {
            width: auto;

        }

        p {
            display: inline;
        }
    }

}

.english-resume {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

    .btn {
        &:hover {
            background-color: #dc3545;
        }
    }
}
i{
    margin: 10px;
    font-size: 10px;
}
  body.Certificates {
     display: flex;
     justify-content: center;


     .img-fluid {
         margin-top: 100px;
     }

     .img-thumbnail {
         width: 1400px;
         height: 500px;
         object-fit: scale-down;
         background-color: #7a8686;
         justify-content: center;
     }
 }
 
